@model WhatsYummy.Models.Horario

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Dia" />
        <dt>
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFecho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFecho)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
