@model WhatsYummyApp.Models.Estabelecimento

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Estabelecimento</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Localidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Localidade" class="form-control" />
                <span asp-validation-for="Localidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CodigoPostal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rua" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Proprietario" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Proprietario" class="form-control" />
                <span asp-validation-for="Proprietario" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Estado" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
